# Byte-compiled / optimized / DLL file
__pycache__/
*.py[cod]
*$py.class

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Editor / IDE
.vscode/    
.idea/

# Environment variables
.env
.env.*

# Logs
*.log

# Virtual environments
venv/
.venv/
env/

# OS files
.DS_Store
Thumbs.db


# Personal Resources
resources/
youtube_reviews/